.projects {
    color: black;
    background-color: #999;
}

.projects>p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    margin-bottom: 2rem;
}

.projectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    margin-bottom: 1rem;
}

.actions>svg {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 40px;
    height: 40px;
}

.actions>span {
    font-size: 2rem;
}