.skills {
    background-color: #f9f9f9;
}

.skillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 100%;
    gap: 1rem;
    margin-bottom: 3rem;
}

.skillsThinkings h3 {
    display: block;

    max-width: 300px;
    margin-bottom: 2rem;

    color: #9c1519;
    border-bottom: 1px solid #9c1519;
}

.thinkingsDescription {
    display: flex;
    align-items: center;
    font-style: italic;

    margin-bottom: 1rem;
    gap: 1rem;

    color: black;
}

.thinkingsDescription>div {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 200px;
    height: 100%;
    gap: .3rem;
}

.thinkingsDescription>div>div {
    width: 30px;
    height: 30px;

    border-radius: 8px;
}

.feeling {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 300px;
    height: 300px;
    padding: 1rem;
    margin: 0 auto;
}

.feeling div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    padding: 1rem;

    border-radius: 50%;
    color: #fff;
}


.devSenior {
    width: 300px;
    height: 300px;

    transition: all 5s;
    background-color: #000;
}

.devSenior:hover {
    box-shadow: 0px 0px 200px 100px gold;
}

.devPleno {
    width: 200px;
    height: 200px;

    background-color: #333;
}

.devJr {
    width: 100px;
    height: 100px;
}

.knowledge {
    width: 100px;
    height: 100px;

    transition: all 1.5s;
    color: #fff;
    background-color: #999;
}

.knowledge:hover {
    box-shadow: 0px 0px 30px 10px #999;
}