.container {
    width: 100%;
    padding: 4rem 6rem;
}

#root>div>h2 {
    font-weight: bold;

    color: #9c1519;
    margin-bottom: 2rem;
    border-bottom: 1px solid #9c1519;
}

#root>div>p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    margin-bottom: 2rem;
}

@media screen and (max-width: 518px) {
    #root>div {
        padding: 4rem 3rem;
    }
}

@media screen and (max-width: 422px) {
    #root>div {
        padding: 4rem 1rem;
    }
}